@charset "UTF-8";

/*입양공고등록*/
.board_request {width:1100px; height:auto; margin:40px auto 50px auto;}
.board_request table {width:100%; border-collapse:collapse; margin-bottom:20px;}
.board_request table thead , .board_request table tbody {border-top:3px solid #95998A;}
.board_request table thead + tbody {border-top:0;}
.board_request table thead th, .board_request table tbody th{background:#f3f3f3; border-bottom:1px solid #ccc;font-family: 'NanumGothicWeb'!important; line-height:40px; font-weight:normal; text-align:center;}
.board_request table span {color:#95998A;}
.board_request table span b {font-family: 'NanumGothicWebBold'!important; font-weight:normal; color:#444;}
.board_request table thead th img {vertical-align:middle; margin-right:5px;}
.board_request table td {text-align:left; font-size:16px; color:#444; line-height:40px; background:#fff; border-bottom:1px solid #ccc; padding:10px; }
.board_request table td button {background:#26579c; color:#fff; text-align:center; width:112px; height:35px; font-size:14px; display:inline-block; vertical-align:middle;margin-bottom:10px;}
.board_request table td input[type="text"] ,.board_request table td select {width:250px;height:33px; border:1px solid #ccc; background:#fff; padding:0 5px;}
.board_request table td input[type="text"].full {width:99%;}
.board_request table td input[type="text"].num {width:120px; display:inline-block; vertical-align:middle;}
.board_request table td input[type="text"].post {width:100px; display:inline-block; vertical-align:middle; }
.board_request table td input[type="text"].mb {margin-bottom:10px;}
.board_request table td label {font-size:16px; color:#444;margin-right:15px; margin-left:5px; display:inline-block; vertical-align:middle;}
.board_request table td textarea {padding:5px; font-size:16px; color:#444; background:#fff!important;}

.request_info {background:#fff; font-size:16px; color:#666; line-height:30px; border:2px solid #ccc; padding:20px; margin-bottom:20px;}
.request_info strong {font-family: 'NanumGothicWebBold'!important; font-weight:normal; color:#444;}
.request_info span {color:#95998A;}
.request_info u {text-decoration:none; border-bottom:1px solid #666;}

.btn_area {width:1100px; height:auto; margin:40px auto 50px auto; text-align:center;}
.btn_area a {width:88px; height:33px; line-height:35px; display:inline-block; vertical-align:top; color:#95998A; border:1px solid #95998A;}