@charset "UTF-8";

html, body, table, textarea, select, h1, h2, h3, h4 {font-size:14px;color:#666;font-family:"NBG";line-height:24px;}
html, body {width:100%;height:100%;margin:0;padding:0;}
form, div, span, ul, ol, li, dl, dt, dd, textarea, h1, h2, h3, h4, h5, h6, p, input, blockquote, th, td {margin:0;padding:0;word-break:keep-all;box-sizing:border-box;}
header, footer, section, article, nav, aside {display:block;} /* html5 tag */
img {border:0px;vertical-align:top;}
img.radio {cursor:pointer;}
input[type=text], input[type=password] {height:34px;border:1px solid #CCC;padding:3px 10px;font-family:"NBG";color:#242424;}
input[type=button] {border:0;padding:0;cursor:pointer}
input[type=button]:focus {color:#fff;}
input[type=button]:disabled {background:#f3f3f3;color:#bbb;}
input {vertical-align:middle;font-family:"NBG";font-size:14px;color:#666;}
input:focus {border:1px solid #454545;color:#666;border-color:#454545 !important;}
textarea {border:1px solid #CCC;padding:5px;}
ul, ol{list-style:none;}
h1, h2, h3, h4, h5, h6, strong, th {font-weight:normal;}
address, em {font-style:normal;}
* {max-height:1000000px;-webkit-text-size-adjust:none;} /* 모바일 글자크기 대응 */

a {text-decoration:none;color:#666;}
.uLine{text-decoration:underline;color:#bdcc94}

.hiddenConts, caption {font-size:0;line-height:0;width:0;height:0;padding:0;margin:0;overflow:hidden;} /* 숨김컨텐츠 */
.hiddenIcon {display:none !important}

.inner {width:1000px;margin:0 auto;}

.col2 li {width:50% !important}
.col3 li {width:33.3% !important}
.col4 li {width:25% !important}
.col5 li {width:20% !important}

.errorFocus:focus{border: 2px solid #bdcc94 !important;outline: 0;}
/*margin*/
.mt0 {margin-top:0px !important;}
.mt10 {margin-top:10px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}
.mt70 {margin-top:70px !important;}

.mt_20 {margin-top:-20px !important;}

.ml0{margin-left:0px !important}
.ml7{margin-left:7px}
.ml10{margin-left:10px}

.mb10 {margin-bottom:10px !important;}

/*padding*/
.pt0 {padding-top:0 !important;}

/*float*/
.fl {float:left;}
.fr {float:right;}

/*font*/
.fc0 {color: #242424 !important;}
.fc1 {color:#bdcc94;}
.fc2 {color:#EB2A2A;}
.fc3 {color:#888;}
.fb {font-weight: bold !important;}

.fs_1 {font-size:12px;}
.fs14 {font-size:14px !important;}
.fs1 {font-size:18px;}

.ac {text-align:center !important}
.al {text-align:left !important}

.topLine {border-top:1px solid #efefef;margin-top:40px;padding:40px 0 20px;}

.scrollBox {max-height:301px;overflow:hidden;overflow-y:auto;}


/* header */
header {height:99px;border-bottom:1px solid #DDD;background:#fff;}
header h1 {float:left;padding:45px 0 0 0;}
header .innerMenu {position:relative;}
header .util {float:right;height:45px;margin:15px 40px 0 100px;}
header .util a {color:#333;font-size:12px;}
header .util a + a:before {content:"";display:inline-block;width:3px;height:3px;margin:0 10px;vertical-align:middle;background:url(../img/common/bul_util.gif)}
/* bkc 추가 */
header nav {float:right;min-width:640px;}
header nav > ul {float:left;}
header nav > ul > li {display:inline-block;margin-right:70px;}
header nav > ul > li .sub {display:none;}
header nav > ul > li > a {position:relative;font-size:17px;color:#242424;display:block;height:50px;}
header nav > ul > li.on > a,header nav > ul > li:hover > a {color:#95998A;}
header nav > ul > li.on > a:after,header nav > ul > li:hover > a:after {display:block;position:absolute;left:-10px;top:47px;width:100%;height:4px;padding-right:20px;background:#D941C5;}
header nav > ul > li.on .sub {display:block;position:absolute;left:0;top:100px;width:100%;background:#f3f3f3;border-bottom:1px solid #ddd;}
header nav > ul > li.on .sub .inner {box-sizing:border-box;}

/* bkc search 추가 */

/*header .searchWrap {display:none; position:absolute; top:6px; left:0; padding-top:9px; width:100%;  }*/
/*header .searchWrap .searchInner { display:none; position:relative; } */
header .search {display:none; position:absolute; left:300px; top:13px;}
header .search .tit {display:inline-block; color:#95998A; margin-right:10px; font-size:16px; vertical-align: middle; }

header .search .searchBtn2 {display:inline-block; width:30px; height:25px;background:#95998A url(../images/btn_search2.png) 8px 5px no-repeat;vertical-align:top;margin-left:-3px; margin-right:5px;}
header .search input { border:1px solid #95998A; width:200px; height:25px; }
header .search span { font-size:10px; color:#666; }






.contents {position:relative;padding-top:90px;width:1000px;margin:0 auto;min-height:400px;}
.contents > h1 {position:absolute;left:0;top:0;width:100%;text-align:center;}
.contents > h1.title {font-size: 34px;}
.bgGray {background:#f9f9f9;}
.bgGray .contents {min-height:430px;}

h1 {text-align:center;font-size:44px;color:#242424;line-height:44px;padding-bottom:45px;}
h1.pwChange {position:relative;margin-top:-10px;font-size:18px;color:#666;text-align:left;padding-bottom:0;} /* 비밀번호 재설정 */
h1.pwChange span {display:inline-block;font-size:44px;color:#242424;padding:6px 0 15px;border-bottom:1px solid #95998A}
h1.pwChange em {color:#95998A;}
h2.conts {font-size:24px;line-height:24px;color:#242424;font-family:'NBG-Bold'}
h3{font-size:18px;color:#242424;font-family:'NBG-Bold'}
h3 + .tableType1,h3 + .tableType2{margin-top:20px}
.tableType1+h3,.tableType2+h3, .gBox+h3, .listType1+h3{margin-top:40px}
h3.conts {font-size:24px;line-height:24px;}
h3.conts+img {margin-top:45px;}
.hiddenConts+h3 {padding-top:0;}
.titTop {font-size:18px;color:#242424;margin-top:40px;}
.titTop:before {content:"";display:block;width:20px;height:2px;background:#242424;margin-bottom:19px;}

/*step*/
.stepList {display:table;width:100%;padding:0;margin:0;}
.stepList li {position:relative;display:table-cell;line-height:58px;text-align:center;border:1px solid #ddd;border-right:0;font-size:17px;color:#bbb;overflow:hidden;}
.stepList li:last-child {border-right:1px solid #ddd;}
.stepList li.on {background:#95998A;border:1px solid #95998A;color:#fff;}
.stepList li.on + li {border-left:0;}
.stepList li.pre {background:#f3f3f3;}
.stepList li span {position:absolute;left:15px;bottom:-13px;font-size:40px;color:#ddd;line-height:40px;}
.stepList li.on span {color:#b094e5;}

/*tab*/
.tabBox {position:relative;}
.tabBox .tabList {display:table;width:100%;}
.tabBox .tabList li {display:table-cell;text-align:center;}
.tabBox .tabList li a {display:block;color:#888;font-size:17px;height:60px;padding-top:22px;border-bottom:1px solid #ddd;box-sizing:border-box;}
.tabBox .tabList li.on a {color:#242424;border-bottom:2px solid #95998A;}
.tabBox .tabList.type2 {display:table;width:100%;padding:0;margin:0;}
.tabBox .tabList.type2 li {position:relative;display:table-cell;text-align:center;border:1px solid #ddd;border-right:0;}
.tabBox .tabList.type2 li:last-child {border-right:1px solid #ddd;}
.tabBox .tabList.type2 li.on {background:#242424;border:1px solid #242424;}
.tabBox .tabList.type2 li.on + li {border-left:0;}
.tabBox .tabList.type2 li a {color:#666;font-size:15px;height:42px;border:0;padding-top:12px;}
.tabBox .tabList.type2 li.on a {color:#fff;}
.tabBox .tabCont {padding-top:30px;}



/* nav 5 */
header nav > ul > li:nth-last-child(5).on .sub .inner {text-align:left; padding-left:280px;}
header nav > ul > li:nth-last-child(4).on .sub .inner {text-align:left; padding-left:400px;}
header nav > ul > li:nth-last-child(3).on .sub .inner {text-align:left; padding-left:500px;} /*서브메뉴 3개이하일때*/
/*header nav > ul > li:nth-last-child(3).on .sub .inner {text-align:right; padding-right:50px;}*/ /*서브메뉴 3개이상일때*/
header nav > ul > li:nth-last-child(2).on .sub .inner {text-align:right; padding-right:50px;}
header nav > ul > li:nth-last-child(1).on .sub .inner {text-align:right; padding-right:50px;}

header nav > ul > li.on .sub .inner li {line-height:55px; display:inline-block;}
header nav > ul > li.on .sub .inner li a {font-size:15px;color:#888;}
header nav > ul > li.on .sub .inner li.on a,header nav > ul > li.on .sub .inner li a:hover {color:#bdcc94}
header nav > ul > li.on .sub .inner li + li a:before {content:"";display:inline-block;width:1px;height:15px;background:#ddd;margin:0 20px;vertical-align:middle;}
footer {position:relative;border-top:1px solid #3C3C3C;margin-top:80px;padding-bottom:20px;background:#fff;}
footer:before {content:"";position:absolute;left:0;top:53px;display:block;width:100%;height:1px;background:#efefef;}
footer .footMenu {width:1000px;margin:0 auto;padding:9px 0 5px; font-size: 15px;}
footer .footMenu span {display:inline-block;padding:8px 0;}
footer .footMenu span a {display:inline-block;margin-right:40px; color: gray;}
footer .footMenu .selType1 {float:right;margin-top:2px;}
footer .footMenu .selType1 a {line-height:28px;}
footer .footSect {width:1000px;margin:0 auto;padding-top:20px;font-size:12px;position:relative;z-index:1}
footer .footSect .info {margin:5px 0 15px;}
footer .footSect .info span {display:inline-block;margin-right:20px;}
footer .footSect .wa {position:absolute;right:100px;top:15px;}


.packagingBlock2 ul{overflow:hidden;border-top:1px solid #666;margin-top:30px;border-left:1px solid #efefef}
.packagingBlock2 ul li{position:relative;float:left;width:33.33%;height:390px;border-right:1px solid #efefef;border-bottom:1px solid #efefef;padding:20px 20px 0 20px}
.packagingBlock2 ul li em{display:block;padding:15px 0 10px;font-size:18px;line-height:22px;color:#242424}
.packagingBlock2 ul li P{LINE-HEIGHT:24PX;}
.packagingBlock2 ul li a{position:absolute;left:20px;bottom:25px;min-width:150px}


.howtoTxt {line-height:24px;margin-top:20px;}

div.info_container > div.info_back {background-color:#f7f7f7;}

.MsgJoinEnd {font-size:18px;line-height:36px;text-align:center;padding-top:110px;}
.MsgJoinEnd em {font-style:normal;color:#95998A;}
.MsgJoinEnd+.btn_c {padding:20px 0 110px;}
.MsgJoinEnd strong{display: block; font-size: 24px; color: #242424; margin-bottom: 20px;}


.cert-btn {border: 1px solid; border-radius: 10px; padding: 20px 0px; display: block; width: 250px; text-align: center; margin: 30px auto; box-shadow: 1px 3px 10px #e4e4e4;}
.cen-ul {text-align: center; line-height: 1.7; padding-bottom: 40px;}
.cen-ul strong {font-weight: 600;}



/* 버튼 */
.btn_c {text-align:center;padding-top:50px;}
.btn_c.col2 a {width:48%}
.btn_c.pwChange {padding-top:60px;}
.btn_r {padding:40px 0 10px;overflow:hidden;}
.btn_r h3 {float:left;font-size:18px;line-height:32px;padding:0;}
.btn_r h3.conts {font-size:24px;line-height:24px;}
.btn_r > a {float:right;}
.btn_r a+a{margin-right:10px}
.btn_r span.fr a {float:left;margin:0 0 0 10px;}
.btn_r .dateTxt {float:left;font-size:12px;}
.btn_r .dateTxt em {font-size:18px;color:#95998A;line-height:35px;font-family:'roboto';font-weight:bold;}
a[role=button] {display:inline-block;box-sizing:border-box;text-align:center;color:#FFF;}
.btnType1 {height:50px;min-width:160px;background:#7226BF;box-shadow: 1px 3px 10px #aaa;font-size:18px;padding:16px 30px 0;margin:0 4px;} /* box-sizing은 ie8이상 box-shadow는 ie9이상 지원 */
.btnType2 {height:50px;min-width:160px;background:#666;box-shadow: 1px 3px 10px gray;font-size:18px;padding:16px 10px 0;margin:0 4px;}
.btnType2.type2 {background:#454545;}
.btnType3 {height:35px;min-width:65px;border:1px solid #ddd;padding:8px 15px 0;color:#666 !important;vertical-align:middle;}
.btnType4 {height:34px;min-width:65px;background:#666;font-size:13px;padding:7px 10px 0;color:#fff;vertical-align:middle;}
.btnType4.type2 {background:#fff;padding:9px 10px 0;color:#666;border:1px solid #ddd;vertical-align:middle;}
.btnType4.type3 {background:#7226BF;color:#fff;}
.btnType5 {color:#666;}
.btnType5 + .btnType5:before {content:"";display:inline-block;width:1px;height:13px;background:#ddd;vertical-align:middle;margin:0 25px 0 22px;}
.btnType6 {height:22px;min-width:45px;border:1px solid #ddd;padding:2px 10px 0;color:#666 !important;font-size:12px;}
.btnType6.type2 {border-color:#7226bf;background:#95998A;color:#fff !important;}
.btnType6 + .btnType6 {margin-left:3px;}

.ico_receive:after{content:'';display:inline-block;width:22px;height:13px;background:url(../img/common/ico_receive_add.gif) no-repeat right 0;margin-left:8px;vertical-align:middle;}
.ico_receive2:after{content:'';display:inline-block;width:13px;height:13px;background:url(../img/common/ico_receive_add2.gif) no-repeat right 0;margin-left:5px;vertical-align:middle;}

/* Tab */
.tabType1 {padding-bottom:50px;}
.tabType1 ul {overflow:hidden;}
.tabType1 li {float:left;width:20%;height:60px;}
.tabType1 li a {display:block;height:60px;box-sizing:border-box;border-bottom:1px solid #CCC;font-size:17px;color:#888;padding-top:19px;text-align:center;}
.tabType1 li a:hover, .tabType1 li a.sel {border-bottom:2px solid #95998A;color:#242424;}
.tabType1 .type2 li {width:50%;}
.tabType1 .type3 li {width:33.3%;}
.tabType1 .type3 li:first-child {width:33.4%}

/* table */
table {width:100%;border-collapse:collapse;table-layout:fixed;}

.tableType1, .tableType2 {border-top:1px solid #666;border-bottom:1px solid #DDD;}
.tableType1 th, .tableType1 td {border-top:1px solid #EFEFEF;text-align:left;padding-left:20px;} /* 가로형 */
.tableType1 tr:first-child th, .tableType1 tr:first-child td, .tableType2 thead tr:first-child th {border-top:none;}
.tableType1 th {height:59px;background:#FAFAFA;color:#454545;}
.tableType1 + .tableType1 {margin-top:40px;}
.tableType1 td {padding:13px 20px;}
.tableType1 .space {margin-top:8px;}
.tableType1 .guide {display:inline-block;font-size:12px;color:#888;margin-left:10px;vertical-align:middle;}
.tableType1 .guide em{color:#95998A}
.tableType1 .guide.type2{margin-left:34px}
.tableType1 span[role=alert] {color:#EB2A2A;padding-left:17px;font-size:12px;}
.tableType1 tr td + th {border-left:1px solid #efefef;}

.tableType2 th {height:50px;background:#FAFAFA;color:#454545;border-left:1px solid #EFEFEF;border-top:1px solid #EFEFEF;} /* 세로형 */
.tableType2 thead tr:fuirst-child th {border-top:0;}
.tableType2 td {height:50px;background:#fff;border-top:1px solid #EFEFEF;border-left:1px solid #EFEFEF;text-align:center;padding:0 5px;}
.tableType2 td a {word-break:break-word}
.tableType2 th:first-child, .tableType2 td:first-child {border-left:none;}
.tableType2 .left {text-align:left;padding-left:20px;}
.tableType2 td .btnType4+.btnType4{margin-left:2px}
.tableType2.noLine th,.tableType2.noLine td {border-left:0;}

.essential{display:block;text-align:right;font-size:12px;margin:5px 0}
.essential em{color:#95998A}
.essential.al{color:#454545}
.essential.al em{font-family:'NBG-Bold'}

.noData {padding:150px 0 35px;text-align:center;background:#f9f9f9 url(../img/common/ico_nodata.png) no-repeat center 38px;}


/* Paging */
.paging {clear:both;text-align:center;margin-top:40px;}
.paging a {display:inline-block;width:34px;height:34px;line-height:34px;color:#888;box-sizing:border-box;margin:0 1px;vertical-align:middle;}
.paging a.sel,.paging a:hover {color:#95998A;}
.paging a.sel {font-weight:bold;}
.paging a.prev {background:url(../img/common/btn_prev_2.gif) no-repeat;}
.paging a.prev+a {background:url(../img/common/btn_prev_1.gif) no-repeat;}
.paging a.next {background:url(../img/common/btn_next_1.gif) no-repeat;}
.paging a.next+a {background:url(../img/common/btn_next_2.gif) no-repeat;}
.paging a.prev,.paging a.prev+a,.paging a.next,.paging a.next+a {border:1px solid #ddd;background-position:center}
.paging span {font-size:1px;opacity:0;position:absolute;left:0;top:0;}

/*box type*/
.wBox {border:1px solid #ddd;background:#fff;}
.wBox.type2 {padding:70px;}
.wBox.type3 {padding:70px 69px;}
.wBox.type3:after {content:"";display:block;height:0;clear:both;}
.wBox p.fl {width:50%;font-size:24px;color:#454545;line-height:35px;font-family:'NGB-Light'}
.wBox p.fl + div.fr {width:50%;padding-left:49px;border-left:1px solid #efefef;}
.wBox p.fl + div.fr dl:after{content:"";display:block;height:0;clear:both;}
.wBox p.fl + div.fr dl dt,.wBox p.fl + div.fr dl dd {float:left;line-height:34px;margin-bottom:10px;}
.wBox p.fl + div.fr dl dt {width:100px;}
.wBox p.fl + div.fr dl dd {width:280px;}
.wBox p.fl + div.fr dl dd input {border:0;border-bottom:1px solid #ccc;}
.wBox p.fl + div.fr dl + a.btnType1 {margin:30px 0 0 100px;width:280px;}
.wBox.type3 p.fl + div.fr .verificationCode{width:280px;margin:20px 0 0 100px;}
.wBox.type3 p.fl + div.fr .verificationCode .btnType4{margin-left:5px;}
.wBox.type3 p.fl + div.fr select{border-top:0;border-left:0;border-right:0;}
.wBox.type3 p.fl + div.fr.type2 dl dt {width:110px;}
.wBox.type3 p.fl + div.fr.type2 dl dd {width:270px;}
.wBox.type3 p.fl + div.fr.type2 dl + a.btnType1 {margin:30px 0 0 110px;width:270px;}
.gBox{background:#fafafa;padding:30px 40px;margin-top:10px}


/*form*/
.formWrap {display:inline-block;vertical-align:middle;}
.formWrap + .formWrap {margin-left:20px;}
.formWrap.type2 label {text-indent:-99999em;padding-left:0 !important;width:26px}
input[placeholder]:-ms-input-placeholder {color:#888}
input::-webkit-input-placeholder,input:-moz-input-placeholder,input::-moz-input-placeholder {color:#888 !important}

/* Radio 디자인 */
.formWrap input[type="checkbox"], .formWrap input[type="radio"] {position:absolute;left:-9999em;width:0;height:0;line-height:0;text-indent:-9999em;z-index:-1;}
.formWrap input[type="checkbox"] + label, .formWrap input[type="radio"] + label {display:inline-block;min-height:18px;background:url(../img/common/btn_form_set.png) no-repeat;padding:3px 0 3px 34px;margin:4px 0;line-height:20px;}
.formWrap.on input[type="checkbox"]:disabled + label, .formWrap.on input[type="radio"]:disabled + label {background-position:0 -26px}
.formWrap.on input[type="checkbox"] + label {background-position:0 -78px}
.formWrap.on input[type="checkbox"]:disabled + label {background-position:0 -52px}
.formWrap.on input[type="radio"] + label {background-position:0 -130px}
.formWrap.on input[type="radio"]:disabled + label {background-position:0 -104px}
input[type="checkbox"]:focus + label, input[type="radio"]:focus + label {outline:1px dashed #666}

/* select */
select {min-width:80px;height:34px;border:1px solid #ccc;padding:0 30px 0 10px;background:url(./images/bg_select.gif) no-repeat right center;vertical-align:middle;-webkit-appearance: none;-moz-appearance: none;}
select::-ms-expand {display:none;}

.selType1 {position:relative;box-sizing:border-box;}
.selType1 > a {display:block;min-width:80px;line-height:34px;border:1px solid #ccc;padding:0 30px 0 10px;background:url(./images//bg_select.gif) no-repeat right center;vertical-align:middle;}
.selType1 ul {position:absolute;left:0;top:34px;width:100%;min-width:80px;border:1px solid #ccc;background:#fff;z-index:2}
.selType1 ul li a {display:block;line-height:30px;padding:0 10px;}

/* input text */
input[type=text]:disabled {background:#f3f3f3;color:#bbb;}

/* bullet list */
.listType1>li{background:url(../img/common/bul_listtype1.gif) no-repeat 0 7px;padding-left:10px;font-size:12px;}
.listType1>li+li{margin-top:5px}
p.listType1 {background:url(../img/common/bul_listtype1.gif) no-repeat 0 7px;padding-left:10px;font-size:12px;color:#888;}
.listType2>li{background:url(../img/common/bul_listtype2.gif) no-repeat 0 7px;padding-left:16px;}
.listType2>li+li{margin-top:10px}


/*유의사항*/
.noticeBox {position:relative;padding:40px;margin-top:50px;background:#fafafa;}
.noticeBox:after {content:"";display:block;height:0;clear:both;}
.noticeBox dt {line-height:20px;font-size:18px;color:#242424;padding-left:28px;background:url(../img/common/ico_exclamation.png) no-repeat 0 0;}
.noticeBox dd {width:430px;margin:29px 0 0 30px;color:#454545;}
.noticeBox dd:before {content:"";display:inline-block;width:5px;height:2px;background:#3d3d3d;vertical-align:middle;margin-right:10px;}
.noticeBox dd.fr {position:absolute;right:40px;top:60px;}
.noticeBox dd .listType1 {margin-left:15px;}
.noticeBox dd .listType1 li {margin-top:10px;color:#888}
.noticeBox dd p {font-size:12px;color:#888;margin:10px 0 0 15px;}

/* 에러 */
.MsgError{margin:260px 0 184px;padding-top:190px;background:url(../img/common/bg_error.gif) no-repeat center 0;text-align:center}
.MsgError strong{font-size:24px;color:#242424;}


/*quick*/
.quick {position:fixed;right:0;top:260px;width:80px;text-align:center;}
.quick .btnQuick {display:block;height:80px;background:#d7e132;color:#242424;padding:23px;box-sizing:border-box;font-family:'roboto';}
.quick .quickCont {display:none;}
.quick.on .btnQuick {color:#fff;background:#95998A;}
.quick.on .quickCont {display:block;}
.quick.on .quickCont a {display:block;height:89px;background:url(../img/common/bg_quick_on.png);color:#454545;font-size:13px;padding-top:65px;box-sizing:border-box;color:#242424}
.quick.on .quickCont a.quick02 {background-position:0 -89px;}
.quick.on .quickCont a.quick03 {background-position:0 -178px;height:90px;}
.quick .btnTop {display:block;margin-top:14px;color:#242424;background:url(../img/common/bg_quick_on.png) no-repeat left -282px;padding-top:15px;}

/*main*/
header.gnbFixed {position:fixed;left:0;top:0;width:100%;background-color:rgba(255,255,255,0.9);z-index:2;}
header.main.gnbFixed {border:0;background:none;}
.mainCont {position:relative;z-index:1}
.mainLink {position:fixed;right:20px;top:50%;z-index: 4;}
.mainLink a {display:block;width:12px;height:12px;text-indent:-99999px;border-radius:6px;background:rgba(40,40,40,0.3);}
.mainLink a.on {background:rgba(40,40,40,0.9);}
.mainLink a + a {margin-top:20px;}
.mainBox01 .rollingBox {position:relative;width:100%;overflow:hidden;}
/* .mainBox01 .rollingBox .rollingList li a {display:block;min-width:1000px;height:560px;padding-top:100px;}   bkc수정 */
.mainBox01 .rollingBox .rollingList li a {display:block;min-width:1000px;height:400px;padding-top:100px;}
.mainBox01 .rollingBox .rollingList li a img {/*position:absolute;left:50%;top:0;margin-left:-700px;*/}
.mainBox01 .rollingBox .rollingList li {display:none;}
.mainBox01 .rollingBox .rollingList li.on {display:block;position: relative;overflow: hidden;width: 100%;z-index: 2;}
.mainBox01 .rollingBox .rollingList li.next {position: absolute;top: 0;z-index: 1;display: block;width: 100%;}
.mainBox01 .rollingBox .controlBox {position:absolute;left:50%;bottom:58px;margin-left:400px;width:1000px;height:50px;/*background:#fff;*/z-index: 3;}
/* bkc 수정 */
.mainBox01 .rollingBox .playBox {position:absolute;left:40px;top:45px;line-height:12px;font-size:0;}
.mainBox01 .rollingBox .playBox {position:absolute;left:40px;top:45px;line-height:12px;font-size:0;}
.mainBox01 .rollingBox .playBox .play,.mainBox01 .rollingBox .playBox .stop {text-indent:-99999px;display:inline-block;width:12px;height:12px;background:url(../img/main/ico_indi.png) right top;}
.mainBox01 .rollingBox .playBox .stop {background-position:left top;}
.mainBox01 .rollingBox .playBox ul,.mainBox01 .rollingBox .playBox ul li {display:inline-block;}
.mainBox01 .rollingBox .playBox ul li a {display:block;width:12px;height:12px;margin-left:8px;text-indent:-99999px;background:url(../img/main/ico_indi.png) right -15px;}
.mainBox01 .rollingBox .playBox ul li.on a {background-position:left -15px;}
.mainBox01 .rollingBox .controlBox .controlList:after {content:"";display:block;height:0;clear:both;}
.mainBox01 .rollingBox .controlBox .controlList li {float:left;width:25%;text-align:center;}
.mainBox01 .rollingBox .controlBox .controlList li > a {position:relative;display:block;color:#242424;line-height:50px;}
.mainBox01 .rollingBox .controlBox .controlList li + li > a:before {content:"";display:inline-block;width:1px;height:21px;background:#e5e5e5;position:absolute;left:0;top:15px;}
.mainBox01 .rollingBox .controlBox .controlList li > a:after {content:"";display:inline-block;width:15px;height:15px;background:url(../img/main/ico_indi.png) 0 -45px;vertical-align:middle;margin-left:17px;}
.mainBox01 .rollingBox .controlBox .controlList li.on > a {color:#95998A;}
.mainBox01 .rollingBox .controlBox .controlList li.on > a:after {background-position:0 -60px;}
.mainBox01 .rollingBox .controlBox .controlList li.map a:after {width:8px;height:14px;background-position:-12px -75px;}
.mainBox01 .rollingBox .controlBox .controlList li:first-child a:before {display:none;}
.mainBox01 .rollingBox .controlBox .controlList li:first-child a {color:#fff;background:#7226bf;}
.mainBox01 .rollingBox .controlBox .controlList li:first-child a:after {width:8px;height:14px;background-position:0 -75px;}
.mainBox01 .rollingBox .controlBox .controlList li .inBox {display:none;}
.mainBox01 .rollingBox .controlBox .controlList li .inBox:after {content:"";display:block;height:0;clear:both;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox {display:block;position:absolute;left:0;top:-296px;width:1000px;height:290px;background:#fff;text-align:left;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fl,.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fr {position:relative;width:50%;height:290px;padding:50px 0 0 50px;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fl {background:#f9f9f9;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fl p {font-size:26px;color:#242424;font-family:'NBG-Light';line-height:35px;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .selBtn {margin-top:35px;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .selBtn a {display:inline-block;width:74px;text-align:center;color:#353535;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .selBtn a:before {content:"";display:block;width:72px;height:72px;margin-bottom:10px;border-radius:37px;background:#fff url(../img/main/ico_inbox.png) no-repeat -13px center;border:1px solid #ddd;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .selBtn a + a {margin-left:30px;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .selBtn a + a:before {background-position:-113px center;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .selBtn a + a + a:before {background-position:-213px center;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .selBtn a + a + a + a:before {background-position:-313px center;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .selBtn a.on:before {background-color:#95998A;border-color:#95998A}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .selBtn a.icoCu:before {background-position:-413px center;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .selBtn a.icoCu.on:before {background-position:-513px center;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fr {padding-right:50px;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fr:before {content:"";position:absolute;left:0;top:0;display:inline-block;width:12px;height:100%;background:url(../img/main/line_inbox.png) left center}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fr > div > strong {font-size:20px;color:#242424;display:block;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fr input[type=text] {border:0;border-bottom:1px solid #e5e5e5;height:50px;line-height:50px;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fr .btnType1 {width:100%;background:#95998A}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fr .addBox > strong {margin-bottom:30px;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fr .addBox > span {display:block;border-bottom:1px solid #e5e5e5;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fr .addBox > span > input {border:0;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fr .addBox > span .btnType4 {width:93px;padding:7px 5px}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox .fr .addBox > span .btnType4.type3 {background:#95998A;color:#fff;box-shadow:1px 3px 10px gray}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox.type2 .fl {width:25%}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox.type2 .fr {width:75%}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox.type2 .selBtn a:before {background-image:url(../img/main/ico_inbox01.png)}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox.type2 .selBtn a {vertical-align:top;width:100px;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox.type2 .selBtn a:before {width:100px;height:100px;border-radius:50px;background-position:0 center;background-color:#d7e132;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox.type2 .selBtn a + a:before {background-position:-100px center;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox.type2 .selBtn a + a + a:before {background-position:-200px center;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox.type2 .selBtn a + a + a + a:before {background-position:-300px center;}
.mainBox01 .rollingBox .controlBox .controlList li.on .inBox.type2 .selBtn a + a + a + a + a:before {background-position:-400px center;}


/* bkc 추가 */
.mainBox02 {position:absolute; min-width:1000px; width:100%; background:url(../images/serbg.gif) 50% top repeat-y; z-index:2000;}
.mainBox02 .serBox {position:relative; width:1000px; margin:0 auto; content:"";display:block;clear:both;}
.mainBox02 .serBox .tit01 {float:left; cursor:pointer; width:50px; height:100%; text-align:left;padding-top:35px;color:#FFF;font-size:16px; background:url(../images/ancR.png) 30px 90px no-repeat;}
.mainBox02 .serBox .tit01.on { font-size:20px; font-weight:bold; line-height:30px; background-position:30px 100px }
.mainBox02 .serBox .tit02 {float:right; cursor:pointer; width:50px; height:100%; text-align:right;padding-top:50px;color:#95998A;font-size:16px; background:url(../images/ancL.png) 5px 90px no-repeat;}
.mainBox02 .serBox .tit02.on { font-size:20px; font-weight:bold; line-height:30px; background-position:5px 100px }

.mainBox02 .serBox .tab01 {position:absolute; left:50px; z-index:100; width:880px; background:#95998A; height:210px; overflow:hidden;}

.mainBox02 .serBox .tab01 li { padding:15px 0px; }
.mainBox02 .serBox .tab02 li { padding:15px 0px; }

/* tab01 1개 - liOne */
.mainBox02 .serBox .tab01.liOne ul { text-align:center; }

/* 2개 - liTwo */
.mainBox02 .serBox .tab01.liTwo ul { text-align:center; }
.mainBox02 .serBox .tab01.liTwo ul li { display:inline-block; width:40%;}

/* 3개 - liThree */
.mainBox02 .serBox .tab01.liThree ul { text-align:center; }
.mainBox02 .serBox .tab01.liThree ul li { display:inline-block; width:30%;}

/* 4개 - liFour */
.mainBox02 .serBox .tab01.liFour ul { text-align:center; }
.mainBox02 .serBox .tab01.liFour ul li { display:inline-block; width:20%;}

/* 5개 - liFive */
.mainBox02 .serBox .tab01.liFive ul { text-align:center; }
.mainBox02 .serBox .tab01.liFive ul li { display:inline-block; width:18%;}

/* 6개 이상 일 경우 - liSix */
.mainBox02 .serBox .tab01.liSix li {float:left; width:140px;  text-align:center; }

/* tab02 1개 - liOne */
.mainBox02 .serBox .tab02.liOne ul { text-align:center; }

/* 2개 - liTwo */
.mainBox02 .serBox .tab02.liTwo ul { text-align:center; }
.mainBox02 .serBox .tab02.liTwo ul li { display:inline-block; width:40%;}

/* 3개 - liThree */
.mainBox02 .serBox .tab02.liThree ul { text-align:center; }
.mainBox02 .serBox .tab02.liThree ul li { display:inline-block; width:30%;}

/* 4개 - liFour */
.mainBox02 .serBox .tab02.liFour ul { text-align:center; }
.mainBox02 .serBox .tab01.liFour ul li { display:inline-block; width:20%;}

/* 5개 - liFive */
.mainBox02 .serBox .tab02.liFive ul { text-align:center; }
.mainBox02 .serBox .tab02.liFive ul li { display:inline-block; width:18%;}

/* 6개 이상 일 경우 - liSix */
.mainBox02 .serBox .tab02.liSix li {float:left; width:140px; text-align:center; }

.mainBox02 .serBox li a img:last-child {display:none;}
.mainBox02 .serBox li a:hover img:first-child {display:none;}
.mainBox02 .serBox li a:hover img:last-child {display:inline-block;}

.mainBox02 .serBox .tab01 div {float:left;}
.mainBox02 .serBox .tab01 .iconPlus1 {position:absolute; right:10px; top:180px; color:#FFF;font-size:18px; font-weight:bold; display:none; }
.mainBox02 .serBox .tab01 .iconPlus1 a, .iconMinus1 a:hover, .iconMinus1 a:link, .iconMinus1 a:visited {text-decolation:none; color:#FFF; display:block; width:20px; height:20px; text-align:center;}

.mainBox02 .serBox .tab02 {position:relative; margin-left:20px; z-index:10; width:880px; background:#ebdcf1; height:210px; overflow:hidden;}
.mainBox02 .serBox .tab02 ul {margin-left:40px;}

.mainBox02 .serBox .tab02 div {float:left;}
.mainBox02 .serBox .tab02 .iconPlus2 {position:absolute; left:10px; top:180px; color:#FFF;text-align:right;font-size:18px; font-weight:bold; display:none;}
.mainBox02 .serBox .tab02 .iconPlus2 a, .iconPlus2 a:hover, .iconPlus2 a:link, .iconPlus2 a:visited {text-decolation:none; color:#95998A; display:block; width:20px; height:20px;  margin-left:10px; text-align:center;}

.mainBox03 {width:1000px; margin:0 auto;padding-top:25px; }
.mainBox03:after {content:"";display:block;height:0;clear:both;}
.mainBox03 .mainEvent {margin-bottom:40px; position:relative;}
.mainBox03 .mainEvent:after {content:"";display:block;height:0;clear:both;}

.mainBox03 .evtNav { position:absolute; z-index:1000; top:170px; left:30px;}
.mainBox03 .evtNav li {float:left;}
.mainBox03 .evtNav li a {display:block; margin-left:8px; width:12px; height:12px; background:url(../images/ico_indi2.png) right -15px;}
.mainBox03 .evtNav li.on a {background:url(../images/ico_indi2.png) left -15px; }


.mainBox03 .evt1 { position:relative; float:left; height:200px; width:485px; overflow:hidden; }
.mainBox03 .evt1 ul {position:absolute; left:0; top:0; z-index:500; width:2000px;}

.mainBox03 .evt1 ul li { display:inline-block;}
.mainBox03 .evt2 { float:right; width:485px; height:200px;}
.mainBox03 .evt2 ul li {float:left; width:225px; margin-left:10px;}


.mainBox03 .boardBox {width:460px;min-height:200px;float:left;position:relative; }
.mainBox03 .boardBox + .boardBox {margin-left:60px;}
.mainBox03 .boardBox + .boardBox:before {content:"";display:block;width:1px;height:145px;position:absolute;left:-20px;bottom:150px;background:#eee}
.mainBox03 .boardBox > div > strong {font-size:22px;color:#242424;}
.mainBox03 .boardBox a.more {position:absolute;right:0;top:0;padding-right:20px; color:#414141; font-size: 12px;}
.mainBox03 .boardBox ul {margin-top:20px;}
.mainBox03 .boardBox ul li {margin-bottom:0px; color: gray;}
.mainBox03 .boardBox ul li a {font-size:13px; color: black;}
.mainBox03 .boardBox ul li span {float:right;font-size:12px;font-family:'roboto';}




/* 메인- 입양동물, 봉사 섬네일 이미지  */
/* 구조일 */
p {
  color: #a2a2a2;
  line-height: 12px;
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: 400;
}

.info {
  color: #a2a2a2;
  line-height: 12px;
  font-size: 12px;
  margin-bottom: 0px;
  font-weight: 400;
}


/* 입양동물, 봉사  */
.section_tittle h2 {
  font-size: 30px;
  color: #95998a;
  line-height: 1.1;
  font-weight: 600;
  position: relative;
  margin-bottom: 26px;
  margin-top: 26px;
}

.single_ihotel_list h3 {
  font-size: 15px;
  color: red;
  margin-bottom: 20px;
  margin-top: 20px;
}
