<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- 비어있는 값이 들어오면 null로 사용하다는 것을 설정. -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.YellowBridge.support.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.YellowBridge.volunteer.model.vo.Volunteer" alias="Volunteer"/>
		<typeAlias type="com.kh.YellowBridge.volunteer.model.vo.VolunteerBoard" alias="VolunteerBoard"/>
	</typeAliases>
	
	
	<mappers>
		<mapper resource="mapper/support-mapper.xml"/>
		<mapper resource="mapper/volunteer-mapper.xml"/>
	</mappers>

</configuration>
