<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adoptionMapper">
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BOARD_STATUS='Y' AND cate_no='1'
	</select>
	
	<select id="selectList" resultMap="adopBoardResultSet">
	select board_no, board_title, board_content, board_view, board_create_date, board_modify_date, PARENT_CATE,
				board_status, board_writer, member_name, member_nickname
		from board
		    left join PARENT_CATEGORY using (PARENT_CATE)
		    left join member on (board_writer = member_id)
		where board_status='Y'and PARENT_CATE='10'
		order by board_no desc
	</select>
	
	
	<resultMap type="com.kh.YellowBridge.adoption.model.vo.AdoptionBoard" id="adopBoardResultSet">
		<id property="adopId" column="BOARD_NO"/>
		<result property="adopTitle" column="BOARD_TITLE"/>
		<result property="adopContent" column="BOARD_CONTENT"/>
		<result property="adopView" column="BOARD_VIEW"/>
		<result property="adopWriter" column="BOARD_WRITER"/>
		<result property="adopCreateDate" column="BOARD_CREATE_DATE"/>
		<result property="adopModifyDate" column="BOARD_MODIFY_DATE"/>
		<result property="adopStatus" column="BOARD_STATUS"/>
		<result property="adopCateNo" column="PARENT_CATE"/>
		<result property="adopWriterNickname" column="MEMBER_NICKNAME"/>
		<result property="adopWriterName" column="MEMBER_NAME"/>
	</resultMap>


	<!-- 게시글 조회수 카운트 -->
	<update id="addReadCount">
		UPDATE BOARD
		SET BOARD_VIEW = BOARD_VIEW + 1
		WHERE BOARD_NO = #{adopId}
	</update>
	
	<!-- 게시글 상세 조회 -->
	<select id="selectAdopBoard" parameterType="_int" resultMap="adopBoardResultSet">
		select board_no, board_title, board_content, board_view, board_create_date, board_modify_date, PARENT_CATE,
				board_status, board_writer, member_name, member_nickname
		from board
			left join PARENT_CATEGORY using (PARENT_CATE)
			left join member on (board_writer = member_id)
		WHERE board_status='Y' and BOARD_NO = #{adopId}
	</select>
	
	
	<select id="selectAdopFile" resultMap="adoptionFileResultMap">
		SELECT FILE_NO,FILE_NAME,FILE_CHANGE,FILE_CREATE_DATE,FILE_LEVEL,
				FILE_PATH,FILE_STATUS,BOARD_NO
		FROM FILE_INFO
		WHERE BOARD_NO=#{adopId}
	</select>
	
	<insert id="insertAdopBoard">
		INSERT 
		INTO BOARD 
		VALUES (SEQ_BNO.nextval, #{adopTitle}, #{adopContent},
					 0, SYSDATE, SYSDATE, DEFAULT, null, 10, #{adopWriterNickname})		 
	</insert>
	
	<insert id="insertAdopFile">
		INSERT 
		INTO FILE_INFO 
		VALUES(SEQ_FNO.NEXTVAL, #{fileName}, #{fileChangeName}, SYSDATE, 1, 
					#{filePath}, 'Y', SEQ_BNO.CURRVAL, NULL, NULL)
	</insert>
	
	
	<resultMap type="com.kh.YellowBridge.adoption.model.vo.AdoptionFile" id="adoptionFileResultMap">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="fileChangeName" column="FILE_CHANGE"/>
		<result property="fileCreateDate" column="FILE_CREATE_DATE"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileStatus" column="FILE_STATUS"/>
		<result property="boardNo" column="BOARD_NO"/>
		<result property="serviceNo" column="SERVICE_NO"/>
		<result property="animalNo" column="ANIMAL_NO"/>
	</resultMap>
	
	
	<!-- 게시물 삭제 -->
	<update id="deleteAdopBoard">
		update board
		set BOARD_STATUS='N'
		where board_no = #{adopId}
	</update>
	
	<!-- 댓글 추가 -->
	 <insert id="insertReply">
		insert into comments
		values(seq_commno.nextval, #{rContent}, sysdate, default, #{rWriterNo}, #{refBid}, #{rWriter})
	</insert>
	
	<select id="selectReplyList" parameterType="_int" resultMap="ReplyResultSet">
		select *
		from COMMENTS
		where COMMETS_STATUS='Y' and BOARD_NO=#{adopId}
		order by COMMENTS_NO desc
	</select>
	
	<resultMap type="com.kh.YellowBridge.adoption.model.vo.AdoptionReply" id="ReplyResultSet"> 
		<id property="rId" column="COMMENTS_NO"/>
		<result property="rContent" column="COMMETS_COTENT"/>
		<result property="refBid" column="BOARD_NO"/>
		<result property="rWriter" column="COMMETS_WRITER"/>
		<result property="rWriterNo" column="MEMBER_NO"/> 
		<result property="rCreateDate" column="COMMETS_DATE"/>
		<result property="rStatus" column="COMMETS_STATUS"/>
	</resultMap> 
	
	
	
	
		<!-- 입양공고부분  -->
		
		<!-- 입양공고 게시물 카운트 -->	
		<select id="getAnimalListCount" resultType="_int">
			SELECT COUNT(*)
			FROM ANIMAL_INFO
			WHERE ANIMAL_STATUS='Y'
		</select>
	
		<select id="selectAnimalList" resultMap="AnimalListResultSet">
		SELECT ANIMAL_NO, ANIMAL_TYPE, ANIMAL_GENDER, ANIMAL_AGE, ANIMAL_COLOR, ANIMAL_TNR, ANIMAL_CHARACTER, ANIMAL_WEIGHT, ANIMAL_CONDITION, ANIMAL_FEATURE, RESCUE_DATE, RESCUE_LOCATION, ANIMAL_STATUS, FILE_NO, FILE_CHANGE
		FROM ANIMAL_INFO
		JOIN FILE_INFO USING (ANIMAL_NO)
		WHERE ANIMAL_STATUS='Y' AND FILE_STATUS='Y'
		ORDER BY ANIMAL_NO DESC
		</select>
		
		<select id="selectAnimalFile" parameterType="_int" resultMap="adoptionFileResultMap">
			select *
			from FILE_INFO
			WHERE FILE_STATUS='Y' AND #{animalNo} = ANIMAL_NO
		</select> 
	
	
	<resultMap type="com.kh.YellowBridge.adoption.model.vo.AnimalInfo" id="AnimalListResultSet">
		<id property="animalNo" column="ANIMAL_NO"/>
		<result property="animalType" column="ANIMAL_TYPE"/>
		<result property="animalGender" column="ANIMAL_GENDER"/>
		<result property="animalAge" column="ANIMAL_AGE"/>
		<result property="animalColor" column="ANIMAL_COLOR"/>
		<result property="animalTnr" column="ANIMAL_TNR"/>
		<result property="animalCharacter" column="ANIMAL_CHARACTER"/>
		<result property="animalWeight" column="ANIMAL_WEIGHT"/>
		<result property="animalCondition" column="ANIMAL_CONDITION"/>
		<result property="animalFeature" column="ANIMAL_FEATURE"/>
		<result property="rescueDate" column="RESCUE_DATE"/>
		<result property="rescueLocation" column="RESCUE_LOCATION"/>
		<result property="animalBoardNo" column="BOARD_NO"/>
		<result property="animalStatus" column="ANIMAL_STATUS"/>
		<result property="animalFile" column="FILE_CHANGE"/>
	</resultMap>
	
	<!-- 입양공고 등록  -->
	
	<insert id="insertAnimalNotice">
		insert 
		into animal_info
		values(SEQ_ANO.nextval, #{animalType}, #{animalGender}, #{animalAge}, 
		#{animalColor}, #{animalTnr}, #{animalCharacter}, #{animalWeight}, 
		#{animalCondition}, #{animalFeature}, #{rescueDate}, #{rescueLocation}, 
		null, default) 
	</insert>
	
	<insert id="insertAnimalFile">
		INSERT 
		INTO FILE_INFO 
		VALUES(SEQ_FNO.NEXTVAL, #{fileName}, #{fileChangeName}, SYSDATE, 1, 
					#{filePath}, 'Y', NULL, NULL, SEQ_ANO.CURRVAL)
	</insert>
	 
	
	<select id="selectAnimalApplyForm" resultMap="AnimalListResultSet">
	
        SELECT ANIMAL_NO, ANIMAL_TYPE, ANIMAL_GENDER, ANIMAL_AGE, ANIMAL_COLOR, ANIMAL_TNR, ANIMAL_CHARACTER, ANIMAL_WEIGHT, ANIMAL_CONDITION, ANIMAL_FEATURE, RESCUE_DATE, RESCUE_LOCATION, ANIMAL_STATUS
		FROM ANIMAL_INFO
		WHERE ANIMAL_STATUS='Y'AND ANIMAL_NO = #{animalNo}
	
	</select>
</mapper>
