<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adoptionMapper">
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BOARD_STATUS='Y' AND cate_no='1'
	</select>

	<select id="selectList" resultMap="adopBoardResultSet">
		select board_no, board_title, board_content, board_view, board_create_date,
		board_modify_date, PARENT_CATE,
		board_status, board_writer, member_name, member_nickname
		from board
		left join PARENT_CATEGORY using (PARENT_CATE)
		left join member on (board_writer = member_id)
		where board_status='Y'and
		PARENT_CATE='10'
		order by board_no desc
	</select>


	<resultMap
		type="com.kh.YellowBridge.adoption.model.vo.AdoptionBoard"
		id="adopBoardResultSet">
		<id property="adopId" column="BOARD_NO" />
		<result property="adopTitle" column="BOARD_TITLE" />
		<result property="adopContent" column="BOARD_CONTENT" />
		<result property="adopView" column="BOARD_VIEW" />
		<result property="adopWriter" column="BOARD_WRITER" />
		<result property="adopCreateDate" column="BOARD_CREATE_DATE" />
		<result property="adopModifyDate" column="BOARD_MODIFY_DATE" />
		<result property="adopStatus" column="BOARD_STATUS" />
		<result property="adopCateNo" column="PARENT_CATE" />
		<result property="adopWriterNickname" column="MEMBER_NICKNAME" />
		<result property="adopWriterName" column="MEMBER_NAME" />
	</resultMap>


	<!-- 입양일지 조회수 카운트 -->
	<update id="addReadCount">
		UPDATE BOARD
		SET BOARD_VIEW = BOARD_VIEW + 1
		WHERE
		BOARD_NO = #{adopId}
	</update>

	<!-- 입양일지 상세 조회 -->
	<select id="selectAdopBoard" parameterType="_int"
		resultMap="adopBoardResultSet">
		select board_no, board_title, board_content, board_view,
		board_create_date, board_modify_date, PARENT_CATE,
		board_status, board_writer, member_name, member_nickname
		from board
		left join PARENT_CATEGORY using (PARENT_CATE)
		left join member on (board_writer = member_id)
		WHERE board_status='Y' and
		BOARD_NO = #{adopId}
	</select>


	<select id="selectAdopFile" resultMap="adoptionFileResultMap">
		SELECT
		FILE_NO,FILE_NAME,FILE_CHANGE,FILE_CREATE_DATE,FILE_LEVEL,
		FILE_PATH,FILE_STATUS,BOARD_NO
		FROM FILE_INFO
		WHERE FILE_STATUS ='Y' AND BOARD_NO=#{adopId}
	</select>

	<insert id="insertAdopBoard">
		insert into board
		values(SEQ_BNO.nextval, #{adopTitle}, #{adopContent},  0, sysdate, sysdate, default, null, 10, #{adopWriterNickname})
	</insert>

	<insert id="insertAdopFile">
		insert into FILE_INFO
		values(SEQ_FNO.nextval, #{fileName}, #{fileChangeName}, default, 0, #{filePath}, default, SEQ_BNO.currval, null, null)
	</insert>

	<!-- 입양일지 수정 -->
	<update id="updateRecodeBoard">
		update board
		set BOARD_TITLE=#{adopTitle}, BOARD_CONTENT=#{adopContent}
		where BOARD_NO=#{adopId}
	</update>
	
	<update id="deleteAdopFile">
		update FILE_INFO
		set FILE_STATUS='N'
		where FILE_NO=#{fileNo}
	</update>
	
	<insert id="updateAdopFile">
		insert into FILE_INFO
		values(SEQ_FNO.nextval, #{fileName}, #{fileChangeName}, default, 0, #{filePath}, default, #{boardNo}, null, null)
	</insert>

	<resultMap
		type="com.kh.YellowBridge.adoption.model.vo.AdoptionFile" id="adoptionFileResultMap">
		<id property="fileNo" column="FILE_NO" />
		<result property="fileName" column="FILE_NAME" />
		<result property="fileChangeName" column="FILE_CHANGE" />
		<result property="fileCreateDate" column="FILE_CREATE_DATE" />
		<result property="fileLevel" column="FILE_LEVEL" />
		<result property="filePath" column="FILE_PATH" />
		<result property="fileStatus" column="FILE_STATUS" />
		<result property="boardNo" column="BOARD_NO" />
		<result property="serviceNo" column="SERVICE_NO" />
		<result property="animalNo" column="ANIMAL_NO" />
	</resultMap>


	<!-- 게시물 삭제 -->
	<update id="deleteAdopBoard">
		update board
		set BOARD_STATUS='N'
		where board_no =
		#{adopId}
	</update>

	<!-- 댓글 추가 -->
	<insert id="insertReply">
		insert into comments
		values(SEQ_COMMNO.nextval, #{rContent}, default, default, null, #{refBid}, #{rWriter})	</insert>

	<!-- 댓글 리스트 노출 -->
	<select id="selectReplyList" parameterType="_int"
		resultMap="ReplyResultSet">
		select *
		from COMMENTS
			left join member on (MEMBER_ID = COMMETS_WRITER)
		where COMMETS_STATUS='Y' and BOARD_NO=#{adopId}
		order by COMMENTS_NO desc
	</select>
	
	<!-- 댓글 수정 -->
		<select id="selectAdopReply" parameterType="_int" resultMap="ReplyResultSet">
		select *
		from COMMENTS
			left join member on (MEMBER_ID = COMMETS_WRITER)
		where COMMETS_STATUS='Y' and COMMENTS_NO=#{adoprId}
	</select> 
	
	<update id="updateAdopReply">
		UPDATE COMMENTS
		SET COMMETS_COTENT=#{rContent}
		WHERE COMMENTS_NO=#{rId}
	</update>
	
	<update id="adoptionrDelete">
		update COMMENTS
		set COMMETS_STATUS='N'
		where COMMENTS_NO=#{rId}
        
	</update>
	
	<resultMap
		type="com.kh.YellowBridge.adoption.model.vo.AdoptionReply" id="ReplyResultSet">
		<id property="rId" column="COMMENTS_NO" />
		<result property="rContent" column="COMMETS_COTENT" />
		<result property="refBid" column="BOARD_NO" />
		<result property="rWriter" column="COMMETS_WRITER" />
		<result property="rNickname" column="MEMBER_NICKNAME" />
		<result property="rWriterNo" column="MEMBER_NO" />
		<result property="rCreateDate" column="COMMETS_DATE" />
		<result property="rStatus" column="COMMETS_STATUS" />
	</resultMap>
	
	
	




	<!-- 입양공고부분 -->

	<!-- 입양공고 게시물 카운트 -->
	<select id="getAnimalListCount" resultType="_int">
		SELECT COUNT(*)
		FROM ANIMAL_INFO
		WHERE ANIMAL_STATUS='Y'
	</select>

	<select id="selectAnimalList" resultMap="AnimalListResultSet">
		SELECT ANIMAL_NO,
		ANIMAL_TYPE, ANIMAL_GENDER, ANIMAL_AGE, ANIMAL_COLOR, ANIMAL_TNR,
		ANIMAL_CHARACTER, ANIMAL_WEIGHT, ANIMAL_CONDITION, ANIMAL_FEATURE,
		RESCUE_DATE, RESCUE_LOCATION, ANIMAL_STATUS, FILE_NO, FILE_CHANGE
		FROM
		ANIMAL_INFO
		JOIN FILE_INFO USING (ANIMAL_NO)
		WHERE ANIMAL_STATUS='Y' AND
		FILE_STATUS='Y'
		ORDER BY ANIMAL_NO DESC
	</select>

	<select id="selectAnimalFile" parameterType="_int"
		resultMap="adoptionFileResultMap">
		select *
		from FILE_INFO
		WHERE FILE_STATUS='Y' AND #{animalNo} = ANIMAL_NO
	</select>


	<resultMap type="com.kh.YellowBridge.adoption.model.vo.AnimalInfo" id="AnimalListResultSet">
		<id property="animalNo" column="ANIMAL_NO" />
		<result property="animalType" column="ANIMAL_TYPE" />
		<result property="animalGender" column="ANIMAL_GENDER" />
		<result property="animalAge" column="ANIMAL_AGE" />
		<result property="animalColor" column="ANIMAL_COLOR" />
		<result property="animalTnr" column="ANIMAL_TNR" />
		<result property="animalCharacter" column="ANIMAL_CHARACTER" />
		<result property="animalWeight" column="ANIMAL_WEIGHT" />
		<result property="animalCondition" column="ANIMAL_CONDITION" />
		<result property="animalFeature" column="ANIMAL_FEATURE" />
		<result property="rescueDate" column="RESCUE_DATE" />
		<result property="rescueLocation" column="RESCUE_LOCATION" />
		<result property="animalBoardNo" column="BOARD_NO" />
		<result property="animalStatus" column="ANIMAL_STATUS" />
		<result property="animalFile" column="FILE_CHANGE" />
		<result property="requestMemberNickname" column="MEMBER_NICKNAME" />
		<result property="animalRequestState" column="REQUEST_STATE" />
		<result property="animalRequestDate" column="REQUEST_DATE" />
	</resultMap>

	<!-- 입양공고 등록 -->

	<insert id="insertAnimalNotice">
		INSERT
		INTO ANIMAL_INFO
		VALUES(SEQ_ANO.nextval, #{animalType}, #{animalGender},
		#{animalAge}, #{animalColor}, #{animalTnr}, #{animalCharacter}, #{animalWeight},
		#{animalCondition}, #{animalFeature}, #{rescueDate},
		#{rescueLocation}, null, default)
	</insert>

	<insert id="insertAnimalFile">
		INSERT
		INTO FILE_INFO
		VALUES(SEQ_FNO.NEXTVAL, #{fileName}, #{fileChangeName}, SYSDATE, 1, #{filePath}, 'Y', NULL, NULL, SEQ_ANO.CURRVAL)
	</insert>


	<select id="selectAnimalApplyForm" resultMap="AnimalListResultSet">

		SELECT ANIMAL_NO, ANIMAL_TYPE, ANIMAL_GENDER, ANIMAL_AGE, ANIMAL_COLOR,
		ANIMAL_TNR, ANIMAL_CHARACTER, ANIMAL_WEIGHT, ANIMAL_CONDITION,
		ANIMAL_FEATURE, RESCUE_DATE, RESCUE_LOCATION, ANIMAL_STATUS
		FROM ANIMAL_INFO
		WHERE ANIMAL_STATUS='Y'AND ANIMAL_NO = #{animalNo}

	</select>

	<select id="selectAlist" resultMap="AnimalListResultSet">

		select animal_no, animal_type, animal_gender, animal_age, animal_color,
		animal_tnr, animal_character, animal_weight,
		animal_condition, animal_feature, rescue_date, rescue_location, animal_status,
		file_change
		from(select *
		from animal_info
		join file_info using(animal_no)
		where file_level = 1
		order by animal_no desc)
		where 4 >= rownum
	</select>
	
	<!-- 관리자 입양공고관리 리스트 -->
	<select id="admin_selectAnimalList" resultMap="AnimalListResultSet">
		SELECT ANIMAL_NO, ANIMAL_TYPE, RESCUE_DATE, REQUEST_STATE, ANIMAL_REQUEST_NO, MEMBER_NO, MEMBER_NICKNAME, REQUEST_DATE
		FROM ANIMAL_INFO
		JOIN ANIMAL_REQUEST USING (ANIMAL_NO)
        JOIN MEMBER USING (MEMBER_NO)
		ORDER BY ANIMAL_NO DESC
	</select>
	
	
	<!-- 관리자 입양 공고 삭제 -->
	<update id="deleteAnimalNotice">
		update animal_info
		set animal_STATUS='N'
		where animal_no = #{ animalNo }
	</update>

	<!-- 입양신청서 -->
	<insert id="insertAppForm">
		insert into ANIMAL_REQUEST
		values(SEQ_RNO.nextval,
		#{requestReason}, #{requestAgreement}, #{requestExperience},
		#{requestPoss}, #{requestQuestion1}, #{requestQuestion2},
		#{requestTnrAgree}, #{requestMemberNo}, #{requestAnimalNo}, DEFAULT, SYSDATE)
	</insert>
	
	<!-- 입양신청과 동시에 신청된 공고 Status변경 -->
	<update id="updateAnimalStatus">
		update ANIMAL_INFO
		set ANIMAL_STATUS='Y'
		where ANIMAL_NO=#{animalNo}
	
	</update>
	

	<select id="selectAppForm" resultMap="adopAppResultSet">
		select *
		from (select ANIMAL_REQUEST_NO, ANIMAL_NO, ANIMAL_TYPE, MEMBER_NO,
		MEMBER_NAME, MEMBER_NICKNAME, MEMBER_PHONE, MEMBER_EMAIL, REQUEST_DATE
		from ANIMAL_REQUEST
		left join member using (MEMBER_NO)
		left join ANIMAL_INFO using (ANIMAL_NO)
		where ANIMAL_STATUS='Y' and member_no=#{requestMemberNo}
		order by ANIMAL_REQUEST_NO desc)
		where rownum = 1

	</select>

	<!-- 사용자_입양신청조회 -->
	<select id="selectRequestList" resultMap="adopAppResultSet">
		select *
		from (select ANIMAL_REQUEST_NO, ANIMAL_NO, ANIMAL_TYPE, MEMBER_NO,
		MEMBER_NAME, MEMBER_NICKNAME, MEMBER_PHONE, REQUEST_STATE, REQUEST_DATE
		from ANIMAL_REQUEST
		left join member using (MEMBER_NO)
		left join ANIMAL_INFO using (ANIMAL_NO)
		where member_no=#{requestMemberNo}
		order by ANIMAL_REQUEST_NO desc)
	</select>

	<resultMap type="com.kh.YellowBridge.adoption.model.vo.AnimalRequest" id="adopAppResultSet">
		<id property="requestNo" column="ANIMAL_REQUEST_NO" />
		<result property="requestReason" column="REQUEST_REASON" />
		<result property="requestAgreement" column="REQUEST_AGREEMENT" />
		<result property="requestExperience" column="REQUEST_EXPERIENCE" />
		<result property="requestPoss" column="REQUEST_POSS" />
		<result property="requestQuestion1" column="REQUEST_QUESTION_1" />
		<result property="requestQuestion2" column="REQUEST_QUESTION_2" />
		<result property="requestTnrAgree" column="REQUEST_TNR_AGREE" />
		<result property="requestMemberNo" column="MEMBER_NO" />
		<result property="requestAnimalNo" column="ANIMAL_NO" />
		<result property="requestState" column="REQUEST_STATE" />
		<result property="requestDate" column="REQUEST_DATE" />
	</resultMap>

	<select id="getRequestListCount" resultType="_int">
		SELECT COUNT(*)
		FROM
		ANIMAL_REQUEST
		WHERE MEMBER_NO=#{memberNo}
	</select>

	<select id="selectMember" resultMap="requestMemberResultSet">
		SELECT * FROM MEMBER WHERE
		MEMBER_NO=#{no}
	</select>

	<resultMap type="Member" id="requestMemberResultSet">
		<id column="MEMBER_NO" property="no" />
		<result column="MEMBER_ID" property="id" />
		<result column="MEMBER_PW" property="pwd" />
		<result column="MEMBER_NAME" property="name" />
		<result column="MEMBER_NICKNAME" property="nickname" />
		<result column="MEMBER_PHONE" property="phone" />
		<result column="MEMBER_ADDRESS" property="address" />
		<result column="MEMBER_BIRTH" property="birth" />
		<result column="MEMBER_DATE" property="date" />
		<result column="MEMBER_EMAIL" property="email" />
		<result column="GRADE" property="grade" />
		<result column="STATUS" property="mStatus" />
	</resultMap>

</mapper>
