<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	
	<select id="login" resultMap="memberResultSet">
		select *
		from member
		where member_id=#{id} and status='Y'
	</select>
	<resultMap type="Member" id="memberResultSet">
		<id column="MEMBER_NO" property="no"/>
		<result column="MEMBER_ID" property="id"/>
		<result column="MEMBER_PW" property="pwd"/>
		<result column="MEMBER_NAME" property="name"/>
		<result column="MEMBER_NICKNAME" property="nickname"/>
		<result column="MEMBER_PHONE" property="phone"/>
		<result column="MEMBER_ADDRESS" property="address"/>
		<result column="MEMBER_BIRTH" property="birth"/>
		<result column="MEMBER_DATE" property="date"/>
		<result column="MEMBER_EMAIL" property="email"/>
		<result column="GRADE" property="grade"/>
		<result column="STATUS" property="mStatus"/>
	</resultMap>	
	
	
	<insert id="insertMember">
		insert into member
  		values(SEQ_MNO.NEXTVAL, #{id}, #{pwd}, #{name}, #{nickname}, #{phone},
  		        #{address}, #{birth}, sysdate, #{email}, default, default)
	</insert>
	
	<update id="updateMember">
		update member
		set member_pw=#{pwd}, member_name=#{name}, member_nickname=#{nickname}, member_email=#{email}, member_phone=#{phone},
		    member_address=#{address}, member_birth=#{birth}
		where member_id=#{id}
	</update>
	
	<update id="deleteMember">
		update member
		set status='N'
		where member_id=#{id}
	</update>
	
	<select id="checkId" resultType="_int">
		select count(*)
		from member
		where member_id =#{id}
	</select>
	
	
	<select id="checkNickname" resultType="_int">
		select count(*)
		from member
		where member_nickname =#{nickname}
	</select>
	
	<select id="memberCheck" resultType="_int">
		select count(*)
		from member
		where member_id=#{id} and status='Y'
	</select>
	
	<select id="getAListCount" resultType="_int">
		select count(*)
		from board	
		where board_status='Y' and parent_cate='10' 
                               and board_writer=#{memberNickName}
	</select>
	
	<resultMap
		type="com.kh.YellowBridge.adoption.model.vo.AdoptionBoard"
		id="adopBoardResultSet">
		<id property="adopId" column="BOARD_NO" />
		<result property="adopTitle" column="BOARD_TITLE" />
		<result property="adopContent" column="BOARD_CONTENT" />
		<result property="adopView" column="BOARD_VIEW" />
		<result property="adopWriter" column="BOARD_WRITER" />
		<result property="adopCreateDate" column="BOARD_CREATE_DATE" />
		<result property="adopModifyDate" column="BOARD_MODIFY_DATE" />
		<result property="adopStatus" column="BOARD_STATUS" />
		<result property="adopCateNo" column="PARENT_CATE" />
		<result property="adopWriterNickname" column="MEMBER_NICKNAME" />
		<result property="adopWriterName" column="MEMBER_NAME" />
	</resultMap>
		
	<select id="selectAList" resultMap="adopBoardResultSet">
		select *
 		from board 
 		where board_status='Y' and parent_cate='10'
                               and board_writer=#{memberNickName}
 		order by board_no desc
	</select>
	
	<select id="getSListCount" resultType="_int">
		select count(*)
		from board	
		where board_status='Y' and parent_cate='200' 
                               and board_writer=#{memberNickName}
	</select>
	
	<resultMap type="VolunteerBoard" id="volboardResultSet"> 
		<id property="volId" column="BOARD_NO"/>
		<result property="volTitle" column="BOARD_TITLE"/>
		<result property="volContent" column="BOARD_CONTENT"/>
		<result property="volCount" column="BOARD_VIEW"/>
		<result property="volCategory" column="LIST"/>
		<result property="volCreateDate" column="BOARD_CREATE_DATE"/>
		<result property="volModifyDate" column="BOARD_MODIFY_DATE"/>
		<result property="volStatus" column="BOARD_STATUS"/>
		<result property="volCateNo" column="CATE_NO"/>
		<result property="volWriter" column="BOARD_WRITER"/>
		<result property="volWriterNickname" column="MEMBER_NICKNAME"/>
		<result property="volWriterName" column="MEMBER_NAME"/>
		<result property="volParentCate" column="PARENT_CATE"/>
		<result property="rCount" column="COMMENTS_NO"/>
	</resultMap> 
	
	<select id="selectSList" resultMap="volboardResultSet">
		select *
 		from board 
 		where board_status='Y' and parent_cate='200'
                               and board_writer=#{memberNickName}
 		order by board_no desc
	</select>
	
	<select id="memberIdSelect" resultMap="memberResultSet">
		select	member_id
		from member 
		where member_name = #{name} and member_phone=#{phone}
	</select>
	
	<select id="getMListCount" resultType="_int">
		select count(*)
		from board	
		where board_status='Y' and parent_cate='50' 
                               and board_writer=#{memberNickName}
	</select>
	
	
	<resultMap type="QnaBoard" id="qnaboardResultSet">
		<id property="qId" column="BOARD_NO"/>
		<result property="qTitle" column="BOARD_TITLE"/>
		<result property="qContent" column="BOARD_CONTENT"/>
		<result property="qCount" column="BOARD_VIEW"/>
		<result property="qCategory" column="LIST"/>
		<result property="qCreateDate" column="BOARD_CREATE_DATE"/>
		<result property="qModifyDate" column="BOARD_MODIFY_DATE"/>
		<result property="qStatus" column="BOARD_STATUS"/>
		<result property="qCateNo" column="CATE_NO"/>
		<result property="qWriter" column="BOARD_WRITER"/>
		<result property="qWriterNickname" column="MEMBER_NICKNAME"/>
		<result property="qWriterName" column="MEMBER_NAME"/>
	</resultMap>
	
	
	
	
	
	<select id="selectMList" resultMap="qnaboardResultSet">
		select *
 		from board 
 		where board_status='Y' and parent_cate='50'
                               and board_writer=#{memberNickName}
 		order by board_no desc
	</select>
	
	
	<select id="getFListCount" resultType="_int">
		select count(*)
		from board	
		where board_status='Y' and parent_cate='60' 
                               and board_writer=#{memberNickName}
	</select>
	
	<select id="selectFList" resultMap="qnaboardResultSet">
		select *
 		from board 
 		where board_status='Y' and parent_cate='60'
                               and board_writer=#{memberNickName}
 		order by board_no desc
	</select>
	
	
</mapper>