<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="supportMapper">
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BOARD_STATUS='Y'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		select board_no, board_title, board_content, board_view, board_create_date, board_modify_date, PARENT_CATE,
				board_status, board_writer, member_nickname
		from board
		    left join PARENT_CATEGORY using (PARENT_CATE)
		    left join member on (board_writer = member_id)
		where board_status='Y' and PARENT_CATE=30
		order by board_no desc
	</select>

	<resultMap type="Board" id="boardResultSet">
		<id property="bNo" column="BOARD_NO"/>
		<result property="bTitle" column="BOARD_TITLE"/>
		<result property="bContent" column="BOARD_CONTENT"/>
		<result property="bWriter" column="BOARD_WRITER"/>
		<result property="bView" column="BOARD_VIEW"/>
		<result property="bCreateDate" column="BOARD_CREATE_DATE"/>
		<result property="bModifyDate" column="BOARD_MODIFY_DATE"/>
		<result property="bStatus" column="BOARD_STATUS"/>
		<result property="cateNo" column="PARENT_CATE"/>
		<result property="nickname" column="MEMBER_NICKNAME"/>
	</resultMap>
	
	<insert id="insertBoard">
		INSERT 
		INTO BOARD 
		VALUES (SEQ_BNO.nextval, #{bTitle}, #{bContent},
					 0, SYSDATE, SYSDATE, 'Y', NULL, 30, #{bWriter})
	</insert>
	
	<insert id="insertFile">
		INSERT 
		INTO FILE_INFO 
		VALUES(SEQ_FNO.NEXTVAL, #{fileName}, #{changeName}, SYSDATE, 1, 
					#{filePath}, 'Y', SEQ_BNO.CURRVAL, NULL, NULL)
	</insert>
	
	
	<update id="updateView">
		UPDATE BOARD
		SET BOARD_VIEW = BOARD_VIEW + 1
		WHERE BOARD_NO=#{bNo} AND PARENT_CATE=30
	</update>
	
	<select id="detailBoard" resultMap="boardResultSet">
		SELECT board_no, board_title, board_content, board_view, board_create_date, board_modify_date, PARENT_CATE,
				board_status, board_writer, member_nickname
		FROM BOARD 
            left join PARENT_CATEGORY using (PARENT_CATE)
			left join member on (board_writer = member_id)
		WHERE BOARD_STATUS='Y' AND BOARD_NO=#{bNo} AND PARENT_CATE=30
	</select>
	
	<select id="detailFile" resultMap="fileInfoResultMap">
		SELECT FILE_NO,FILE_NAME,FILE_CHANGE,FILE_CREATE_DATE,FILE_LEVEL,
				FILE_PATH,FILE_STATUS,BOARD_NO
		FROM FILE_INFO
		WHERE BOARD_NO=#{bNo}
	</select>
	
	<resultMap type="FileInfo" id="fileInfoResultMap">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileName" column="FILE_NAME"/>
		<result property="changeName" column="FILE_CHANGE"/>
		<result property="fileCreateDate" column="FILE_CREATE_DATE"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="fileStatus" column="FILE_STATUS"/>
		<result property="BoardNo" column="BOARD_NO"/>
	</resultMap>
	
	<select id="getSearchListCount" parameterType="com.kh.YellowBridge.support.model.vo.SearchCondition" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
			LEFT JOIN PARENT_CATEGORY USING (PARENT_CATE)
		WHERE BOARD_STATUS='Y' AND PARENT_CATE=30
		<if test="title != null">
			AND BOARD_TITLE like '%' || #{title} || '%'
		</if>
		<if test="content != null">
			AND BOARD_CONTENT like '%' || #{content} || '%'
		</if>
	</select>
	
	<select id="selectSearchList" parameterType="com.kh.YellowBridge.support.model.vo.SearchCondition" resultMap="boardResultSet">
		SELECT *
		FROM BOARD
			LEFT JOIN PARENT_CATEGORY USING (PARENT_CATE)
		WHERE BOARD_STATUS='Y' AND PARENT_CATE=30
		<choose>
			<when test="title != null">
				AND BOARD_TITLE like '%' || #{title} || '%'
			</when>
			<when test="content != null">
				AND BOARD_CONTENT like '%' || #{content} || '%'
			</when>
		</choose>
		ORDER BY BOARD_NO DESC
	</select>
	
	<insert id="insertReply">
		INSERT INTO COMMENTS
		VALUES(SEQ_COMMNO.nextval, #{rContent}, SYSDATE, 'Y', #{rWriter}, #{memberNo}, #{refBid})
	</insert>
	
	<select id="selectReplyList" resultMap="ReplyResultSet">
		SELECT *
		FROM COMMENTS
    		LEFT JOIN MEMBER USING(MEMBER_NO) 
    		LEFT JOIN BOARD USING(BOARD_NO)
		WHERE COMMETS_STATUS='Y' and BOARD_NO=#{bNo} AND PARENT_CATE=30
		ORDER BY COMMENTS_NO DESC
	</select>
	
	<resultMap type="com.kh.YellowBridge.support.model.vo.Reply" id="ReplyResultSet">
		<id property="rId" column="COMMENTS_NO"/>
		<result property="rContent" column="COMMETS_COTENT"/>
		<result property="rCreateDate" column="COMMETS_DATE"/>
		<result property="rStatus" column="COMMETS_STATUS"/>
		<result property="rWriter" column="COMMETS_WRITER"/>
		<result property="refBid" column="BOARD_NO"/>
		<result property="memberNo" column="MEMBER_NO"/>
	</resultMap>
	
	<update id="updateBoard">
		UPDATE BOARD
		SET BOARD_TITLE=#{bTitle}, BOARD_CONTENT=#{bContent}, BOARD_MODIFY_DATE=SYSDATE
		WHERE BOARD_NO=#{bNo}
	</update>
	
	<update id="updateFile">
		UPDATE FILE_INFO
		<set>
		FILE_LEVEL=1,
			<if test="fileName != null">
				FILE_NAME=#{fileName}, FILE_CHANGE=#{changeName}, FILE_PATH=#{filePath}
			</if>
		</set>
		WHERE BOARD_NO=#{BoardNo}
	</update>
	
	<update id="deleteBoard">
		UPDATE BOARD
		SET BOARD_STATUS='N'
		WHERE BOARD_NO=#{bNO}
	</update>
	
	<update id="deleteReply">
		UPDATE COMMENTS
		SET COMMETS_STATUS = 'N'
		WHERE COMMENTS_NO=#{rId}
	</update>
	
	<insert id="insertPaymentInfo">
		INSERT INTO PAYMENTINFO
		VALUES (SEQ_PAYINFO.NEXTVAL, #{imp_uid}, #{memNo}, #{confirmPwd}, #{userName},
				#{tel}, #{email}, #{addr}, #{price}, SYSDATE, #{orderStatus}, '결제완료')
	</insert>
	
	<select id="resultPaymentComplete" resultMap="ResultMapPi">
		SELECT * 
		FROM PAYMENTINFO
		WHERE IMP_UID=#{imp_uid}
	</select>
	
	<resultMap type="com.kh.YellowBridge.support.model.vo.PaymentInfo" id="ResultMapPi">
		<id property="payNo" column="PAY_NO"/>
		<result property="imp_uid" column="IMP_UID"/>
		<result property="memNo" column="MEM_NO"/>
		<result property="confirmPwd" column="CONFIRM_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="tel" column="USER_TEL"/>
		<result property="email" column="USER_EMAIL"/>
		<result property="addr" column="USER_ADD"/>
		<result property="price" column="PRICE"/>
		<result property="orderDate" column="ORDER_DATE"/>
		<result property="orderStatus" column="ORDER_STATUS"/>
		<result property="status" column="PAY_STATUS"/>
	</resultMap>
	
	<select id="noMemResultList" resultMap="ResultMapPi">
		SELECT *
		FROM PAYMENTINFO
		WHERE USER_NAME=#{userName} AND CONFIRM_PWD=#{confirmPwd} AND MEM_NO=0
		ORDER BY PAY_NO DESC
	</select>
	
	<select id="memResultList" resultMap="ResultMapPi">
		SELECT *
		FROM PAYMENTINFO
		WHERE MEM_NO=#{memNo}
		ORDER BY PAY_NO DESC
	</select>
	
	<select id="selectOneReply" resultMap="ReplyResultSet">
		SELECT *
		FROM COMMENTS
		WHERE COMMETS_STATUS='Y' AND COMMENTS_NO=#{rId}
	</select>
	
	<update id="updateReply">
		UPDATE COMMENTS
		SET COMMETS_COTENT=#{rContent}
		WHERE COMMENTS_NO=#{rId}
	</update>
	
	<!-- <select id="searchPiList" parameterType="com.kh.YellowBridge.support.model.vo.DateSearch" resultMap="ResultMapPi">
		SELECT *
		FROM PAYMENTINFO
   		WHERE ORDER_DATE BETWEEN TO_DATE(#{searchStartDate}, 'YYYY-MM-DD') AND TO_DATE(#{searchEndDate}, 'YYYY-MM-DD')
	</select> -->
	
	<select id="selectAllPi" resultMap="ResultMapPi">
		SELECT * FROM PAYMENTINFO
	</select>
	
</mapper>
